@layout MudBlazorLayout
@page "/"

<Header />

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="/assets/img/property.png" alt="" data-aos="fade-in" class="">

    <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">THE PROPERTY<br><span>APPRAISAL</span> PLACE</h2>
        @* <p data-aos="fade-up" data-aos-delay="200">The Company Address Can Go Here</p> *@
        <div data-aos="fade-up" data-aos-delay="300" class="">
            <a href="https://youtu.be/39PZkVx9ONQ" class="glightbox pulsating-play-btn mt-3"></a>
        </div>
    </div>

    <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <h2 class="text-center">About Us</h2>
                    <p class="text-center">
                        At [Your Company Name], we specialize in providing comprehensive property appraisal services with accuracy and integrity. Our team of certified appraisers brings extensive experience and a deep understanding of the real estate market to deliver precise and reliable valuations. Whether you’re buying, selling, refinancing, or simply assessing the value of your property, we offer tailored solutions to meet your needs. Our commitment to excellence and attention to detail ensures that you receive the most accurate and up-to-date property assessments. Trust [Your Company Name] for all your property appraisal needs and experience the difference of professional, dependable service.
                    </p>
                </div>
                <div class="col-lg-1">
                </div>
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->

<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div><!-- End Info Item -->
            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div><!-- End Info Item -->
            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com</p>
                </div>
            </div><!-- End Info Item -->
        </div>
        <div class="row gy-4 mt-1">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15484.28994006429!2d-76.7935633!3d17.9724678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8dca7b3e4bb57b95%3A0x947b7f2b5db8e4!2sKingston%2C%20Jamaica!5e0!3m2!1sen!2s!4v1697042171187" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->
            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>
                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div><!-- End Contact Form -->
        </div>
    </div>
</section><!-- /Contact Section -->


<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<Footer />








@* <PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <button class="btn btn-danger" @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-success" @onclick="GoToLogin">Login</button>
        ||
        <button class="btn btn-primary" @onclick="GoToRegister">Register</button>
    </NotAuthorized>
</AuthorizeView> *@

@* <AuthorizeView>
    <Authorized>
        <div class="auth-container">
            <h2>Welcome Back!</h2>
            <button class="btn logout-btn" @onclick="Logout">Logout</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="auth-container">
            <h2>Please Log In</h2>
            <button class="btn login-btn" @onclick="GoToLogin">Login</button>
            <span class="divider">or</span>
            <button class="btn register-btn" @onclick="GoToRegister">Register</button>
        </div>
    </NotAuthorized>
</AuthorizeView> *@

@* <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-6 mb-3 d-flex align-items-stretch" style="width: 30rem;">
            <div class="card shadow rounded-7" style="border-radius: 15px;">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <img src="~/images/logo/mylogo.jpg" alt="Smart Appraisal LOGO" width="180" height="150" />
                </div>
                <img src="~/images/logo/homepage.jpg" alt="Real Estate Image" height="150" class="card-img-top" style="object-fit: cover;">
                <div class="card-body">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-6 mb-3">
                                <a class="nav-link text-dark" asp-area="" asp-page="/ARMS/Client/Create">
                                    Request Appraisal
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a class="nav-link text-dark" asp-area="" asp-page="/ARMS/Tracking/Index">
                                    Track Appraisal
                                </a>
                            </div>
                        </div>
                        <AuthorizeView>
                            <Authorized>
                                <div class="row text-center">
                                    <div class="col-12">
                                        <button class="btn logout-btn" @onclick="Logout">Logout</button>
                                    </div>
                                </div>
                            </Authorized>
                            <NotAuthorized>
                                <div class="row text-center">
                                    <div class="col-6 mb-3">
                                        <button class="btn login-btn" @onclick="GoToLogin">Login</button>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <button class="btn register-btn" @onclick="GoToRegister">Register</button>
                                    </div>
                                    <div class="col-6">
                                        <a class="nav-link text-danger" asp-area="Identity" asp-page="/Account/Login">Administrator Login</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="nav-link text-danger" asp-area="Identity" asp-page="/Account/Login">Appraiser Login</a>
                                    </div>
                                </div>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@

@* <MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Label="Username" Required="true" RequiredError="User name is required!" />
                    <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                    <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @ref="pwField1"
                                  InputType="InputType.Password"
                                  Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                                  RequiredError="Password is required!"/>
                    <MudTextField T="string"
                                  Label="Password" HelperText="Repeat the password" InputType="InputType.Password"
                                  Validation="@(new Func<string, string>(PasswordMatch))"/>
                    <div class="d-flex">
                        <MudRadioGroup T="string" Required="true" RequiredError="Account type is required!">
                            <MudRadio Value="@("Personal")">Personal</MudRadio>
                            <MudRadio Value="@("Professional")">Professional</MudRadio>
                        </MudRadioGroup>
                    </div>
                    <div class="d-flex align-center justify-space-between">
                        <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Label="I agree!"  />
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Register</MudButton>
                    </div>
            </MudForm>   
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="@(()=>form.Validate())">Validate</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="@(()=>form.ResetAsync())" Class="mx-2">Reset</MudButton>
            <MudButton Variant="Variant.Filled" DropShadow="false" OnClick="@(()=>form.ResetValidation())">Reset Validation</MudButton>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
                @foreach (var error in errors)
                {
                    <MudText Color="@Color.Error">@error</MudText>
                }
        </MudPaper>
    </MudItem>
</MudGrid> *@


