@layout MudBlazorLayout
@page "/login"
@using PMS.UI.StaticDetails
@using MudBlazor
@* <h3>Register</h3> *@


<div class="wrapper">
    <CustomHeader />
    @if (IsLoading)
    {
        <div class="loading-overlay">
            @*  <div class="spinner"></div> *@
            <div id="preloader"></div>
        </div>
    }
    else
    {
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 pt-5">
                <div class="col col-xl-6">
                    <div class="form-container">
                        @if (!string.IsNullOrEmpty(Message))
                        {
                            <div class="alert alert-danger">
                                @Message
                            </div>
                        }
                       @*  <MudGrid>
                            <MudItem xs="12" sm="12">
                                
                            </MudItem>
                        </MudGrid> *@

                        <MudPaper Class="pa-4">
                                    <EditForm Model="@LoginVM" OnValidSubmit="HandleLogin">
                                        <DataAnnotationsValidator />
                                        @* <ValidationSummary /> *@

                                        <MudGrid>
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.h4">Login</MudText>
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField T="string" Label="Email" Variant="Variant.Outlined"
                                                              @bind-Value="LoginVM.Email" For="@(() => LoginVM.Email)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField Label="Password" Variant="Variant.Outlined"
                                                              @bind-Value="LoginVM.Password" For="@(() => LoginVM.Password)"
                                                              Adornment="Adornment.End" InputType="@_passwordInput"
                                                              OnAdornmentClick="TogglePasswordVisibility"
                                                              AdornmentIcon="@_passwordInputIcon" />
                                            </MudItem>
                                            <MudItem xs="12" Class="d-flex justify-space-between align-center">
                                                <MudSwitch T="bool" Label="Remember me?" @bind-Value="LoginVM.RememberMe" Color="Color.Primary" Class="ml-n1" />
                                        <MudLink Href="/password-reset">Forgot password?</MudLink>
                                            </MudItem>
                                            <MudItem xs="12" Class="d-flex justify-center">
                                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Login</MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </EditForm>
                                </MudPaper>

                    </div>
                </div>
            </div>
        </div>
    }
    
   
    <Footer />
</div>
