@page "/reset-password"
@using MudBlazor
@layout MudBlazorLayout

<div class="wrapper">
    <CustomHeader />
    @if (IsLoading)
    {
        <div class="loading-overlay">
            <div id="preloader"></div>
        </div>
    }
    else
    {
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 pt-5">
                <div class="col col-xl-6">
                    <div class="form-container">
                        @if (!string.IsNullOrEmpty(Message))
                        {
                            <div class="alert alert-danger">
                                @Message
                            </div>
                        }
                        <MudPaper Class="pa-4">
                            <EditForm Model="@_noneLoginModel" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudText Typo="Typo.h4">Reset Password</MudText>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudTextField Label="Email" Variant="Variant.Outlined"
                                                      @bind-Value="_noneLoginModel.Email"
                                                      For="@(() => _noneLoginModel.Email)" />

                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudTextField Label="New Password" Variant="Variant.Outlined"
                                                      @bind-Value="_noneLoginModel.NewPassword"
                                                      For="@(() => _noneLoginModel.NewPassword)"
                                                      Adornment="Adornment.End" InputType="@_passwordInput"
                                                      OnAdornmentClick="TogglePasswordVisibility"
                                                      AdornmentIcon="@_passwordInputIcon" />
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField Label="Confirm Password" Variant="Variant.Outlined"
                                                      @bind-Value="_noneLoginModel.ConfirmPassword"
                                                      For="@(() => _noneLoginModel.ConfirmPassword)"
                                                      Adornment="Adornment.End" InputType="@_passwordConfirmationInput"
                                                      OnAdornmentClick="TogglePasswordConfirmationVisibility"
                                                      AdornmentIcon="@_passwordConfirmationInputIcon" />
                                    </MudItem>
                                    <MudItem xs="12" Class="d-flex justify-center">
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Submit</MudButton>
                                    </MudItem>
                                </MudGrid>
                            </EditForm>
                        </MudPaper>
                    </div>
                </div>
            </div>
        </div>
    }
    <Footer />
</div>

