@layout MudBlazorLayout
@page "/admin/client/"
@using PMS.UI.Models.Client
@using PMS.UI.Pages.Admin.Shared
@using MudBlazor

<RightSidebar />


<HeadCSS />
@if (IsLoading)
{
    <div class="loading-overlay">
        @*  <div class="spinner"></div> *@
        <div id="preloader"></div>
    </div>
}
else if (_indexModel.Any())
{
    <!-- Begin page -->
    <div class="wrapper">

        <Menu />

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="row mb-1">
                    <div class="col">
                        <h1>Client List</h1>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        @* <MudButton @onclick="(() => CreateNewEmployee())" Variant="@Variant.Filled" Color="@Color.Success">Create Employee</MudButton> *@
                    </div>
                </div>
                <MudDataGrid T="ClientVM" Items="@_indexModel" SortMode="SortMode.Multiple" Filterable="true"
                             QuickFilter="@_quickFilter" Hideable="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Employees</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                        </MudTextField>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.FirstName" Title="First Name" />
                        <PropertyColumn Property="x => x.LastName" Title="Last Name" />
                        <PropertyColumn Property="x => x.Email" Title="Email" />
                        <PropertyColumn Property="x => x.PhoneNumber" Title="Phone Number" />
                        @* <PropertyColumn Property="x => x.Role" Title="Status" /> *@
                        <TemplateColumn Title="Actions" CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudStack Row>
                                    <MudIconButton Variant="Variant.Filled" OnClick="() => EditForm(context.Item.Id)" Color="@Color.Warning" Icon="@Icons.Material.Filled.Edit" aria-label="edit" />
                                    <MudIconButton Variant="Variant.Filled" OnClick="() => ClientDetail(context.Item.Id)" Color="@Color.Info" Icon="@Icons.Material.Filled.Info" aria-label="details" />
                                    <MudIconButton Variant="Variant.Filled" OnClick="() => EmployeeDeletion(context.Item.Id.ToString())" Color="@Color.Error" Icon="@Icons.Material.Filled.Delete" aria-label="delete" />
                                    @* <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Warning"><i class="fa-solid fa-pen-clip"></i></MudButton>
                                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Info">Hire</MudButton>
                                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Error">Hire</MudButton> *@
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="ClientVM" />
                    </PagerContent>
                </MudDataGrid>
                
            </div>
            <br />
        </div>
        
    </div>

    <AdminFooter />
}
else
{
    <Menu />
    <div class="content-page">
        <div class="content">
            <MudText Class="text-center mt-2 text-danger" Typo="Typo.h4">No Records Found</MudText>
        </div>
    </div>

    <AdminFooter />
}



