@layout MudBlazorLayout
@page "/create/"
@inject ISnackbar Snackbar
@using PMS.UI.StaticDetails
@* <h3>Create</h3> *@
@using MudBlazor
<div class="wrapper">
    <CustomHeader />

    @if (IsLoading)
    {
        <div class="loading-overlay">
            @*  <div class="spinner"></div> *@
            <div id="preloader"></div>
        </div>
    }
    else
    {
        <div class="content">
            <div class="form-container">
                <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">

                    <DataAnnotationsValidator />
                    @* <ValidationSummary /> *@
                    <MudGrid>
                        <MudItem xs="12">
                            <MudPaper Class="pa-4 lifted">
                                <!-- Step 1: Client Details -->
                                @if (currentStep == 1)
                                {
                                    <MudPaper Class="pa-4 mt-4 lifted">
                                        <MudText Typo="Typo.h4" Class="text-center">CLIENT INFORMATION</MudText>
                                        <MudDivider />
                                        <MudGrid>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="First Name" @bind-Value="_createModel.FirstName" For="@(() => _createModel.FirstName)" />
                                                <span></span>
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Last Name" @bind-Value="_createModel.LastName" For="@(() => _createModel.LastName)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Phone Number" @bind-Value="_createModel.PhoneNumber" For="@(() => _createModel.PhoneNumber)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Email" @bind-Value="_createModel.Email" For="@(() => _createModel.Email)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField T="string" Label="Address" @bind-Value="_createModel.Address" For="@(() => _createModel.Address)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField T="string" Label="Instructions Issued By" @bind-Value="_createModel.InstructionsIssuedBy" For="@(() => _createModel.InstructionsIssuedBy)" />
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                }

                                <!-- Step 2: Property Details -->
                                @if (currentStep == 2)
                                {
                                    <MudPaper Class="pa-4 mt-4 lifted">
                                        <MudText Typo="Typo.h4" Class="text-center pb-2">PROPERTY INFORMATION</MudText>
                                        <MudDivider />
                                        <MudGrid>
                                            <MudItem xs="12">
                                                <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>SERVICE(S) REQUIRED</b></MudText>
                                                @if (!string.IsNullOrEmpty(_createModel.ServiceRequestValidationMessage))
                                                {
                                                    <MudText Class=" text-center pt-2" Style="color:#FF0000">@_createModel.ServiceRequestValidationMessage</MudText>
                                                }
                                                <MudGrid>

                                                    @foreach (var item in ServiceRequestCheckBoxesVM)
                                                    {
                                                        <MudItem xs="12" sm="6">
                                                            <MudCheckBox @bind-Value="item.IsChecked" Size="Size.Medium" Label="@item.Title" />


                                                        </MudItem>
                                                    }
                                                </MudGrid>
                                            </MudItem>
                                            <MudDivider />
                                            <MudItem xs="12">
                                                <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>TYPE OF PROPERTY:</b></MudText>
                                                @if (!string.IsNullOrEmpty(_createModel.TypeOfPropertyValidationMessage))
                                                {
                                                    <MudText Class=" text-center pt-2" Style="color:#FF0000">@_createModel.TypeOfPropertyValidationMessage</MudText>
                                                }
                                                <MudGrid>
                                                    @foreach (var item in TypeOfPropertyCheckBoxItemVM)
                                                    {
                                                        <MudItem xs="12" sm="6">
                                                            <MudCheckBox @bind-Value="item.IsChecked" Size="Size.Medium" Label="@item.Title" />
                                                            <input type="hidden" value="@item.Id" />
                                                        </MudItem>
                                                    }
                                                </MudGrid>
                                            </MudItem>
                                            <MudDivider />
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Volume" @bind-Value="_createModel.Volume" For="@(() => _createModel.Volume)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Folio" @bind-Value="_createModel.Folio" For="@(() => _createModel.Folio)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField T="string" Label="Strata/Deposit Plan" @bind-Value="_createModel.StrataPlan" For="@(() => _createModel.StrataPlan)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>PURPOSE OF VALUATION:</b></MudText>
                                                @if (!string.IsNullOrEmpty(_createModel.PurposeOfEvaluationValidationMessage))
                                                {
                                                    <MudText Class=" text-center pt-2" Style="color:#FF0000">@_createModel.PurposeOfEvaluationValidationMessage</MudText>
                                                }
                                                <MudGrid>
                                                    @foreach (var item in PurposeOfEvaluationCheckBoxesVM)
                                                    {
                                                        <MudItem xs="12" sm="6">
                                                            <MudCheckBox @bind-Value="item.IsChecked" Size="Size.Medium" Label="@item.Title" />
                                                            <input type="hidden" value="@item.Id" />
                                                        </MudItem>
                                                    }
                                                </MudGrid>
                                            </MudItem>
                                            <MudDivider />
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Mortgage Institution" @bind-Value="_createModel.MortgageInstitution" For="@(() => _createModel.MortgageInstitution)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Other" @bind-Value="_createModel.Other" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudText Typo="Typo.subtitle1">Is The Key Available</MudText>
                                                <MudRadioGroup T="string" @bind-Value="_createModel.IsKeyAvailable" For="@(() => _createModel.IsKeyAvailable)">
                                                    <MudRadio Value="KeyAvailability.Yes">Yes</MudRadio>
                                                    <MudRadio Value="KeyAvailability.No">No</MudRadio>
                                                </MudRadioGroup>
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudSelect T="Guid" Label="Parish" @bind-Value="_createModel.RegionId">
                                                    <MudSelectItem T="Guid" Value="@Guid.Empty" Disabled>--Select Parish--</MudSelectItem>
                                                    @foreach (var region in Regions)
                                                    {
                                                        <MudSelectItem  T="Guid" Value="@region.Id">@region.ParishName</MudSelectItem>
                                                        
                                                    }
                                                    
                                                </MudSelect>
                                                <ValidationMessage For="@(() => _createModel.RegionId)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField T="string" Label="Property Address" @bind-Value="_createModel.PropertyAddress" For="@(() => _createModel.PropertyAddress)" />
                                            </MudItem>
                                            <MudItem xs="12">
                                                <MudTextField T="string" Label="Property Direction" @bind-Value="_createModel.PropertyDirection" TextArea="true" />
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                }

                                <!-- Step 3: Contact for Inspection -->
                                @if (currentStep == 3)
                                {
                                    <MudPaper Class="pa-4 mt-4 lifted">
                                        <MudText Typo="Typo.h4" Class="text-center pb-2">CONTACT FOR INSPECTION</MudText>
                                        <MudDivider />
                                        <MudGrid>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="First Name" @bind-Value="_createModel.SecondaryContactFirstName" For="@(() => _createModel.SecondaryContactFirstName)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Last Name" @bind-Value="_createModel.SecondaryContactLastName" For="@(() => _createModel.SecondaryContactLastName)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Phone Number" @bind-Value="_createModel.SecondaryContactPhoneNumber" For="@(() => _createModel.SecondaryContactPhoneNumber)" />
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudTextField T="string" Label="Email" @bind-Value="_createModel.SecondaryContactEmail" />
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                }

                                <!-- Navigation Buttons -->
                                <MudItem xs="12" class="mt-4">
                                    <div class="row">
                                        <div class="col">
                                            <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Dark" @onclick="PreviousStep" Disabled="@((currentStep == 1))"><i class="fa-solid fa-backward-step"></i>&nbsp; Back</MudButton>
                                        </div>


                                        @if (currentStep < 3)
                                        {
                                            <div class="col">
                                                <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" @onclick="NextStep">Next &nbsp;<i class="fa-solid fa-forward-step"></i></MudButton>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="col">
                                                <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">Submit &nbsp; <i class="fa-regular fa-paper-plane"></i></MudButton>
                                            </div>

                                        }
                                    </div>
                                </MudItem>

                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </div>
        </div>
    }

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <Footer />
</div>
@* style="background-color: #f82249" *@