@layout BlazoriseLayout
@page "/track-form-status/"
@using PMS.UI.StaticDetails
@using Blazorise
@* <h3>Create</h3> *@
<div class="wrapper">
    <CustomHeader />

    @if (IsLoading)
    {
        <div class="loading-overlay">
            @*  <div class="spinner"></div> *@
            <div id="preloader"></div>
        </div>
    }
    else
    {
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 pt-5">
                <div class="col col-xl-12">
                    <div class="form-container">

                        @if (!string.IsNullOrEmpty(Message))
                        {
                            <h2 class="text-center text-danger pt-2"><strong>@Message</strong></h2>
                        }
                        else if (!string.IsNullOrEmpty(_trackingModel.Status))
                        {
                            <div class="stepper-container">
                                <Steps SelectedStep="@selectedStep" SelectedStepChanged="@OnSelectedStepChanged" Class="custom-stepper" NavigationAllowed="NavigationAllowed">
                                    <Items>
                                        <Step Completed="@IsStepCompleted(FormStatus.StatusSubmitted)" Name="@FormStatus.StatusSubmitted">
                                            <Marker>
                                                <Icon Name="IconName.Send" />
                                            </Marker>
                                            <Caption>Submitted</Caption>
                                        </Step>
                                        <Step Completed="@IsStepCompleted(FormStatus.StatusAssigned)" Name="@FormStatus.StatusAssigned">
                                            <Marker>
                                                <Icon Name="IconName.UserCheck" />
                                            </Marker>
                                            <Caption>Assigned</Caption>
                                        </Step>
                                        <Step Completed="@IsInProcessStepCompleted()" Name="@FormStatus.StatusInProcess">
                                            <Marker>
                                                <Icon Name="IconName.SliderHorizontal" />
                                            </Marker>
                                            <Caption>In Process</Caption>
                                        </Step>
                                        <Step Completed="@IsStepCompleted(FormStatus.StatusApproved)" Name="@FormStatus.StatusApproved">
                                            <Marker>
                                                <Icon Name="IconName.Flag" />
                                            </Marker>
                                            <Caption>Completed</Caption>
                                        </Step>
                                    </Items>
                                    <Content>
                                        <StepPanel Name="@FormStatus.StatusSubmitted">
                                            <!-- Content for Submitted -->
                                        </StepPanel>
                                        <StepPanel Name="@FormStatus.StatusAssigned">
                                            <!-- Content for Assigned -->
                                        </StepPanel>
                                        <StepPanel Name="@FormStatus.StatusInProcess">
                                            <!-- Content for In Process -->
                                        </StepPanel>
                                        <StepPanel Name="@FormStatus.StatusApproved">
                                            <!-- Content for Approved -->
                                        </StepPanel>
                                    </Content>
                                </Steps>
                            </div>
                        }
                        else
                        {
                            <h2 class="text-center text-danger pt-2"><strong>@Message</strong></h2>
                        }

                        <EditForm Model="@_trackingModel" OnValidSubmit="OnValidSubmit">
                            @if (string.IsNullOrEmpty(_trackingModel?.Status) && string.IsNullOrEmpty(Message))
                            {
                                <p class="text-center p-5 pb-0"><strong>PLEASE INPUT YOUR TRACKING ID BELOW TO VIEW THE STATUS OF YOUR APPRAISAL FORM</strong></p>
                            }
                            <div class="input-box">
                                <i class="uil uil-search"></i>
                                <input type="text" @bind="SearchString" placeholder="Search here..." class="input-field" />
                                <button type="submit" value="Search" class="button">Search</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>


    }
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <Footer />
</div>