@layout MudBlazorLayout
@page "/profile"
@using PMS.UI.StaticDetails

@using MudBlazor
@* <h3>Register</h3> *@
<div class="wrapper">
    <CustomHeader />
    @* @if (!string.IsNullOrEmpty(Message))
    {
    <div class="alert alert-danger">
    @Message
    </div>
    } *@
    @if (IsLoading)
    {
        <div class="loading-overlay">
            @*  <div class="spinner"></div> *@
            <div id="preloader"></div>
        </div>
    }
    else
    {

        <div class="container py-4 h-100 navbar-spacing">
            <MudTHeadRow Class="d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-12">
                    <MudItem xs="12">
                        <div class="form-container">
                            <EditForm Model="@_profileModel" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />
                                <MudGrid Class="gutters">
                                    <MudItem xl="3" lg="3" md="12" sm="12" xs="12">
                                        <MudCard Class="h-100">
                                            <MudCardContent>
                                                <MudImage Width="200" Height="220" Src="@(_profileModel.ImageBase64 ?? "https://bootdey.com/img/Content/avatar/avatar7.png")" Alt="Profile Image" />

                                                <MudText Typo="Typo.h5" Class="pt-2 text-center">@($"{_profileModel.FirstName} {_profileModel.LastName}")</MudText>

                                                @if (IsEditMode)
                                                {
                                                    <MudGrid Class="justify-content-center">
                                                        <MudItem xs="12" Class="text-center">
                                                            <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" MaximumFileCount="1" FilesChanged="UploadFile">
                                                                <ActivatorContent>
                                                                    <MudButton Variant="Variant.Filled"
                                                                               Color="Color.Primary"
                                                                               StartIcon="@Icons.Material.Filled.CloudUpload">
                                                                        Upload Photo
                                                                    </MudButton>
                                                                </ActivatorContent>
                                                            </MudFileUpload>
                                                        </MudItem>

                                                        @if (fileName != null)
                                                        {
                                                            <MudItem xs="12" Class="text-center mt-2">
                                                                <MudList T="string">
                                                                    <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                                                                        @fileName <code>@fileSize bytes</code>
                                                                    </MudListItem>
                                                                </MudList>
                                                            </MudItem>
                                                        }
                                                    </MudGrid>
                                                }
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>
                                    <MudItem xl="9" lg="9" md="12" sm="12" xs="12">
                                        <MudCard Class="h-100">
                                            <MudCardContent>
                                                <MudGrid Class="gutters">
                                                    <MudItem xs="12">
                                                        <MudText Typo="Typo.h6" Class="mb-2 text-primary">Personal Details</MudText>
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudTextField Label="First Name" @bind-Value="_profileModel.FirstName" For="@(() => _profileModel.FirstName)" Disabled="@(!IsEditMode)" />
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudTextField Label="Last Name" @bind-Value="_profileModel.LastName" For="@(() => _profileModel.LastName)" Disabled="@(!IsEditMode)" />
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudTextField Label="Email" @bind-Value="_profileModel.Email" For="@(() => _profileModel.Email)" Disabled="@(!IsEditMode)" />
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudTextField Label="Phone Number" @bind-Value="_profileModel.PhoneNumber" For="@(() => _profileModel.PhoneNumber)" Disabled="@(!IsEditMode)" />
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudText Typo="Typo.subtitle1">Gender</MudText>
                                                        <MudRadioGroup T="string" @bind-Value="_profileModel.Gender" For="@(() => _profileModel.Gender)" Disabled="@(!IsEditMode)">
                                                            <MudRadio Value="UserGender.Male">Male</MudRadio>
                                                            <MudRadio Value="UserGender.Female">Female</MudRadio>
                                                        </MudRadioGroup>
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudDatePicker Label="Date Of Birth" Color="Color.Secondary" @bind-Date="_profileModel.DateOfBirth" Rounded="true" For="@(() => _profileModel.DateOfBirth)" Disabled="@(!IsEditMode)" />
                                                    </MudItem>
                                                </MudGrid>
                                                <MudDivider Class="my-3" />
                                                <MudGrid Class="gutters">
                                                    <MudItem xs="12">
                                                        <MudText Typo="Typo.h6" Class="mt-3 mb-2 text-primary">Address</MudText>
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudTextField Label="Address" @bind-Value="_profileModel.Address" For="@(() => _profileModel.Address)" Disabled="@(!IsEditMode)" />
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                        <MudSelect T="Guid" Label="Parish" @bind-Value="_profileModel.ClientRegionId" Disabled="@(!IsEditMode)">
                                                            <MudSelectItem T="Guid" Value="@Guid.Empty" Disabled>--Select Parish--</MudSelectItem>
                                                            @foreach (var region in Regions)
                                                            {
                                                                <MudSelectItem T="Guid" Value="@region.Id">@region.ParishName</MudSelectItem>
                                                            }
                                                        </MudSelect>
                                                        <ValidationMessage For="@(() => _profileModel.ClientRegionId)" />
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                    </MudItem>
                                                    <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                                    </MudItem>
                                                </MudGrid>
                                                <MudDivider Class="my-3" />
                                                <MudItem xs="12">
                                                    <div class="row">
                                                        @if (IsEditMode)
                                                        {
                                                            <div class="col-12 col-md-4 mb-2 button-edit-mode">
                                                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" FullWidth="true" Color="Color.Success">Save</MudButton>
                                                            </div>
                                                            <div class="col-12 col-md-4 mb-2 button-edit-mode">
                                                                <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Error" OnClick="CancelEdit">Cancel</MudButton>
                                                            </div>
                                                            <div class="col-12 col-md-4 mb-2 button-edit-mode">
                                                                <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Info" OnClick="PasswordReset">Update Password</MudButton>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-12 col-md-6 mb-2">
                                                                <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Warning" OnClick="ToggleEditMode">Edit</MudButton>
                                                            </div>
                                                            <div class="col-12 col-md-6 mb-2">
                                                                <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Info" OnClick="PasswordReset">Update Password</MudButton>
                                                            </div>
                                                        }
                                                    </div>
                                                </MudItem>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>
                                </MudGrid>
                            </EditForm>
                        </div>
                    </MudItem>  
                </div>
            </MudTHeadRow>
        </div>
    }
    <Footer />
</div>

