@layout MudBlazorLayout
@page "/create-employee/"
@using PMS.UI.Pages.Admin.Shared
@using MudBlazor
@using PMS.UI.StaticDetails

<RightSidebar />


<HeadCSS />
@if (IsLoading)
{
    <div class="loading-overlay">
        @*  <div class="spinner"></div> *@
        <div id="preloader"></div>
    </div>
}
else
{
    <!-- Begin page -->
    <div class="wrapper">

        <Menu />

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <EditForm Model="_createModel" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="12">
                            <MudPaper Class="pa-4 lifted">
                                <!-- Step 1: Client Details -->
                                <MudText Typo="Typo.h4" Class="text-center">New Employee</MudText>
                                <MudPaper Class="pa-4 mt-1 lifted">

                                    <MudDivider />
                                    <MudGrid>
                                        <MudItem xs="6">
                                            <MudTextField T="string" Label="First Name" @bind-Value="_createModel.FirstName" For="@(() => _createModel.FirstName)" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField T="string" Label="Last Name" @bind-Value="_createModel.LastName" For="@(() => _createModel.LastName)" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudText Typo="Typo.subtitle1">Gender</MudText>
                                            <MudRadioGroup T="string" @bind-Value="_createModel.Gender" For="@(() => _createModel.Gender)">
                                                <MudRadio Value="UserGender.Male">Male</MudRadio>
                                                <MudRadio Value="UserGender.Female">Female</MudRadio>
                                            </MudRadioGroup>
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField T="string" Label="Email" @bind-Value="_createModel.Email" For="@(() => _createModel.Email)" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField T="string" Label="Phone Number" @bind-Value="_createModel.PhoneNumber" For="@(() => _createModel.PhoneNumber)" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField T="string" Label="N.I.S" @bind-Value="_createModel.NationalInsuranceScheme" For="@(() => _createModel.NationalInsuranceScheme)" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudTextField T="string" Label="T.R.N" @bind-Value="_createModel.TaxRegistrationNumber" For="@(() => _createModel.TaxRegistrationNumber)" />
                                        </MudItem>
                                        <MudItem xs="2" Class="text-center">
                                            <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" MaximumFileCount="1" FilesChanged="UploadFile">
                                                <ActivatorContent>
                                                    <MudButton Variant="Variant.Filled"
                                                               Color="Color.Primary"
                                                               StartIcon="@Icons.Material.Filled.CloudUpload">
                                                        Upload Photo
                                                    </MudButton>
                                                </ActivatorContent>
                                            </MudFileUpload>

                                        </MudItem>
                                        @if (fileName != null)
                                        {
                                            <MudItem xs="4" Class="text-center">
                                                <MudList T="string">
                                                    <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                                                        @fileName <code>@fileSize bytes</code>
                                                    </MudListItem>
                                                </MudList>
                                            </MudItem>
                                        }
                                        <MudItem xs="6">
                                            <MudDatePicker Label="Date Of Birth" Color="Color.Secondary" @bind-Date="_createModel.DateOfBirth" Rounded="true" For="@(() => _createModel.DateOfBirth)" />
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudDatePicker Label="Start Date" Color="Color.Secondary" @bind-Date="_createModel.DateRegistered" Rounded="true" For="@(() => _createModel.DateRegistered)" />
                                        </MudItem>
                                        <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                            <MudSelect T="string" @bind-Value="_createModel.RoleId">
                                                <MudSelectItem T="string" Value="string.Empty" Disabled>--Select Role--</MudSelectItem>
                                                @foreach (var role in _roles)
                                                {
                                                    <MudSelectItem T="string" Value="@role.Id">@role.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                                            <MudSelect T="Guid" @bind-Value="_createModel.AdminRegionId">
                                                <MudSelectItem T="Guid" Value="@Guid.Empty" Disabled>--Select Parish--</MudSelectItem>
                                                @foreach (var region in Regions)
                                                {
                                                    <MudSelectItem T="Guid" Value="@region.Id">@region.ParishName</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField T="string" Label="Address" @bind-Value="_createModel.Address" For="@(() => _createModel.Address)" />
                                        </MudItem>
                                    </MudGrid>
                                </MudPaper>

                                <MudItem xs="12" class="mt-4">
                                    <div class="row">
                                        <div class="col">
                                            <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">Submit &nbsp; <i class="fa-regular fa-paper-plane"></i></MudButton>
                                        </div>
                                        <div class="col">
                                            <MudButton OnClick="(() => BackToInex())" Variant="Variant.Filled" FullWidth="true" Color="Color.Dark"><i class="fa-solid fa-backward-step"></i>&nbsp; Back</MudButton>
                                        </div>

                                    </div>
                                </MudItem>


                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </EditForm>

            </div>
            <!-- content -->

            <AdminFooter />

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        @* <MudItem xs="6">
    <MudDatePicker Label="Date Of Birth" Color="Color.Secondary" @bind-Date="_createModel.DateOfBirth" Rounded="true" For="@(() => _createModel.DateOfBirth)" />
    </MudItem> *@
    </div>





    <!-- END wrapper -->
}

@*



        public string ImagePath { get; set; } = string.Empty;
        //public IFormFile? Image { get; set; }
        [DataType(DataType.Date), Display(Name = ("D.O.B"))]
        public DateTime DateOfBirth { get; set; } = DateTime.Now;

        [DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}")]
        [DataType(DataType.Date), Display(Name = ("Start Date"))]
        public DateTime DateRegistered { get; set; } = DateTime.Now;

        [DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}")]
        [DataType(DataType.Date)]
        [Display(Name = "End Date")]
        public DateTime DateEnded { get; set; } = DateTime.Now; *@


